#root {
  max-width: 1280px;
  margin: 0 auto;
}

.nav {
  padding: 2rem;
  display: grid;
  grid-gap: 1.2rem;
  grid-auto-flow: column;
}

.prose {
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
}

.prose>:first-child {
  margin-top: 0;
}

.prose p {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
